*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --violet: #5F0267;
}

                    /* En-tete */
.navUl{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap:5vw;
    margin-bottom: 2vw;
    
}
.lien{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
.banniere,
.logo{
    display: flex;
    align-items: center;
}
.imgBanniere{
    margin: auto auto 3vw auto;
    width:90vw;
    height: 22vw;
}
.imgLogo{
    margin: -60px auto 0 auto;
    width: 15vw;
    height: 15vw;
}
.barrefixe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw;
    /* position: fixed; */
}
.commerce{
    display: flex;
    flex-direction: row;
}
/* .panier{
    margin-left: 2vw;
} */

                    /* Footer */
.containFooter{
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--violet);
    height: 100px;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    margin-top: 4vw;
}

                        /* Contact */
.contact,
.titreCompte,
.quiSommesNous,
.titreQui,
.selection,
.titreFleurs,
.Panier{
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}
.map{
    display: flex;
    margin: auto;
}
.map,
.map2{
    height: 40vw;
    width: 50vw;
}

.compte{
    display: flex;
    justify-content: center;
    gap: 20vw;
}
.lienCompte{
    text-decoration: none;
    color: black;
}
.connexion{
    padding: 2vw 0 0 3vw;
    border: 1px solid black;
    width: 35vw;
    padding-bottom: 30px;
}
.inscription{
    padding: 2vw 0 0 3vw;
    border: 1px solid black;
    width: 35vw;
    padding-bottom: 30px;
}
.inputCompte{
    width: 80%;
}
.boutonCompte{
    background-color: var(--violet);
    color: white;
}
.ligneOne,
.ligneTwo{
    display: flex;
    flex-direction: row;
    margin-bottom: -1vw;
}
.selectionBouquet,
.selection{
    display: flex;
    flex-direction: row;
    margin-bottom: 2vw;
}
.carreOne,
.carreTwo{
    width: 50%;
}
.carre{
    height: 33vw;
    width: 45vw;
}
.presentation{
    width: 90vw;
    margin: auto;
}
.ligneOne .carreTwo,
.ligneTwo .carreOne{
    padding: 5vw;
    background-color: #F5F5F5;
}
.quiSommesNous,
.selection{
    text-decoration: underline;
    margin-bottom: 4vw;
}

.imgVteFleur{
    width: 27rem;
    height: 17rem;
    border-radius: 10px;
    border: 1px solid black;
}
.selectionBouquet{
    gap:5vw;
    justify-content: center;
}
.cadreBouquet{
    margin-bottom: 3vw;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}
.titreSelection{
    margin-left: 5vw;
    margin-bottom: 1vw;
}
.map2{
    display: flex;
    margin: 4vw auto;
}
.ajouterPanier{
    width: 27rem;
    height: 3rem;
    margin-top: 1vw;
}
.voirFleurs{
    display: flex;
    margin: 3vw auto;
    height: 3vw;
    width: 15vw;
    justify-content: center;
    align-items: center;
    background-color: #5F0267;
    color: white;
}
button{
    border-radius: 10px;
    border: 1px solid black;
}
.filtre{
    height: 3rem;
    width: 10rem;
}
.containerGrid1{
    display: grid;
    grid-template-columns:
      minmax(6rem, 1fr)
      [start]
      repeat(8, minmax(min-content, 14rem))
      [end]
      minmax(6rem, 1fr);
  margin-top: -100px;
  margin-bottom: -100px;
}
.containGrid2 {
    grid-column: start / end;
    margin: 12rem 0 12rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
  }
  .ensFiltre,
  .selectCouleurs{
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
  }
  .ensFiltre{
    gap: 3.2vw;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
  }
  .selectCouleurs{
    gap:2vw;
    margin-top: 1vw;
  }
.cache{
    display: none;
}

.inputQuantite{
    width: 3vw;
}
.containPanier{
    margin-left: 4.5vw;
}



.jeu {
	text-align:center;
}
.containerRoulette {
	margin:0 auto;
	width:266px;
}
.jeuRoulette {
	 border: 1px solid #000000;
}
.roulette {
	background:url("../public/images/casino_normal.png") repeat-y; 
	width:88px;
	height:70px;
	float:left;
	border:1px solid #000;
	background-position:0 4px;
}

.blur {
    background:url("../public/images/casino_blur.png") repeat-y; 
    width:88px;
    height:70px;
    float:left;
    border:1px solid #000;
    background-position:0 4px;
    filter: blur(3px);
}

#start {
	display:block;
	width:138px;
	height:33px;
	margin:20px 60px;
	font-size:16px;
	cursor:pointer;
}
#result {
	margin:20px 0;
	font-size:18px;
	font-weight:bold;
	height:22px;
}

.reset {
	clear:both;
}
.voirCommande,
.panier,
.lienCompte,
.deconnexion{
    margin-right: 10px;
}
.deconnexion{
    margin-left: 10px;
}
table{
    display: flex;
    justify-content: center;
    border:none !important;
}
/* .rupture{
    text-align: center;
} */

@media(width<847px){
.ligneOne{
    flex-direction: column;
    align-items: center;
}
.ligneTwo{
    flex-direction: column-reverse;
    align-items: center;
}
.carre{
display: flex;
margin: auto;
}
.carreOne,
.carreTwo{
    width: 100%;
}
.ligneOne .carreTwo,
.ligneTwo .carreOne{
background: none;
}
.titreQui{
    text-align: center;
}

}

/* @media(width <400px){

    .connexion{
    height: 37vw;
    width: 38vw;
    }
    .inscription {
        
        height: 110vw;
        width: 38vw;
    }
    .inputCompte{
        width: 30vw;
    }
    .compte{
        gap:10vw;
    }
} */

@media(max-width:540px){
    .containerGrid1{
        display: grid;
        grid-template-columns:
          minmax(1rem, 1fr)
          [start]
          repeat(8, minmax(min-content, 14rem))
          [end]
          minmax(6rem, 1fr);
      margin-top: -100px;
      margin-bottom: -100px;
    }

    .ajouterPanier,
    .imgVteFleur {
        width: 20rem;
    }
    .imgBanniere{
        margin: 75px auto 3vw auto;
    }
    .box {
        position: relative;
      }
      .cont-lignes {
        width: 42px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 90%;
        transform: translate(-50%, -50%);
      }
      .lignes {
        width: 100%;
        height: 6px;
        border-radius: 5px;
        background-color: black;
        position: absolute;
        transition: all 0.3s ease-in-out;
      }
      .lignes:nth-child(1) {
        top: 0px;
      }
      .lignes:nth-child(2) {
        top: 18px;
      }
      .lignes:nth-child(3) {
        top: 36px;
      }
      .btn1.active .lignes:nth-child(1) {
        top: 18px;
        transform: rotate(135deg);
      }
      .btn1.active .lignes:nth-child(2) {
        opacity: 0;
        transform: translateX(-20px);
      }
      .btn1.active .lignes:nth-child(3) {
        top: 18px;
        transform: rotate(-135deg);
      }
      nav.active {
        height: 130px;
      }
      .smallScreen {
        display: none;
      }
      .navUl {
        display: block;
        text-align: center;
      }
     
}

@media(max-width: 460px){
    table{
        font-size: 0.7em;
      };
}
  